{% if dl_form%}
<form action="/fileManager/download" enctype="multipart/form-data" method="POST">
{% csrf_token %}
<p>
Please specify a file:<br>
{{dl_form}}
{{ form.errors }}
{{ form.non_field_errors }}
</p>
<div>
<input type="submit" value="Send">
</div>
</form>
{%endif%}

<ul>
<!--THIS FOR LOOP NEEDS A REFERENCE TO THE ACTUAL FILE OBJECT-->
{% for file, url, name in filelist %}
	<a href={{ url }} download>
		<p>{{name}}</p>
	</a>
	{% for comment in file.comment_set.all %}
	    <!--print comment text-->
	    <li>{{ comment.comment }} </br>
	    <i>By: {{comment.user.firstName}} {{comment.user.lastName}} on: {{ comment.pub_date }}</i></li>
	{% endfor %}
{% endfor %}
</ul>
