<meta charset="utf-8">
<div>
    {% if  user.get_status() is 'Student' %}
    <div id="quiz"> </div>
    {% endif %}
</div>
<div>
    {% if  user.get_status() is 'Professor' %}
    <button onclick="startQuiz()"><Give a quiz now</button>
    <script>
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById("classLinks").innerHTML =
                xhr.responseText;
            }
        };
        xhr.open('POST', 'http://localhost:8000/profile/tokensignin/');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send("first_name="+firstname+"&last_name="+lastname+"&email_address="+email+"&profile_pic="+profile_pic);
    </script>
    {% endif %}
</div>
<style>
script{
	display: inline
}
</style>
<h1>Class Discussion</h1>
<p>
Channel: #SlugChat</br>
Server: irc.kiwiirc.com</br>
Port: 6667
<iframe src="https://kiwiirc.com/client/irc.kiwiirc.com/?nick={{firstname}}?#{{currentclass}}"
        style="border:0; width:100%; height:550px;"></iframe>
</p>
