{% if status == 'Professor' %}
<form method="post">
    {% csrf_token %}
    <b> Give a Quiz </b>
    <input type="submit" value="Begin" />
</form>
{% endif %}
<div> id="quiz" </div> 
<script>
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            document.getElementById("quiz").innerHTML =
            xhr.responseText;
        }
    };
    xhr.open('POST', 'http://localhost:8000/profile/tokensignin/');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.send("give_quiz");
</script>
